/*Styling*/
body{
    background: #EBFDFF;
    background: linear-gradient(180deg, rgba(235, 253, 255, 1) 0%, rgba(255, 232, 163, 1) 100%);
}

/*Register page*/
.registerPanel{
    background-color: white;
    width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registerPanel h3{
    text-align: center;
}

#registerForm label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 15px;
}

#registerForm input {
    display: inline-block;
    width: 220px;
    margin-bottom: 10px;
    padding: 5px;
    height: 25px;
    border-width: 1px;
    border-radius: 5px;
}


.passwordRequirments{
    font-size: 12px;
    margin-left: 20%;
}

.terms {
    text-align: center;
    padding: 10px;
}

.terms label {
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.terms input {
    width: auto;
    margin-left: 5px;
}

#submitButton {
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.bad { color: red; }
.good { color: green; }