<!--Navigation extention of base.html -->
{% extends 'pages/base.html' %}

{% block title %}Home | Moffat Bay Lodge{% endblock %}

{% block content %}
    <div class = "registerContainer">
        
        {#Registration information#}
        <div class = "registerHeader">
            <h2>Register for an Account</h2>
            <p>To better protect your private data and ensure ease of finding, modifying, 
                or canceling reservations, all guests who wish to book a stay at Moffat Bay 
                Lodge must register for an account. Registration also gives you the benefit of 
                being able to save payment information for future visits, if desired.
            </p> <br>
            <p> Moffat Bay Lodge will never give or sell your personal information to any third
                party. We make it our mission to ensure the comfort and safety of all guests,
                both in the digital realm and the physical.
            </p>
        </div>
            {% if messages %}
                <script>
                    {% for message in messages %}
                        alert("{{ message|escapejs }}");
                    {% endfor %}
                </script>
            {% endif %}

        {#Registration Panel#}
        <div class = "registerPanel">
            <h3>Create Your Account</h3>
            <form method = "POST"  id ="registerForm" action ="{% url 'register' %}">
                    {% csrf_token %}
                <label> First Name: </label>
                <input type = "text" name = "first_name" placeholder = "Jane">
                <br>
                <label> Last Name: </label>
                <input type = "text" name = "last_name" placeholder = "Doe">
                <br>
                <label> Email: </label>
                <input type = "Email" name = "email" placeholder = "example@gmail.com">
                <br>
                <label> Phone Number: </label>
                <input type = "text" name = "phone_number" placeholder = "123-456-7890">
                <br>
                <label> Password:</label>
                <input type = "password" name = "password" id="password">
                <br>
                <label> Confirm Password:</label>
                <input id="confirm" type="password" name="confirm_password">
                <br>
                
                {#Password requirements#}
                <div class = "passwordRequirments">
                    <p class = "requirement" id="lengthRequirement"><span class="icon bad">✗</span>  Password must be at least 8 characters</p>
                    <p class = "requirement" id="numberRequirement"><span class="icon bad">✗</span> Must include 1 Number</p>
                    <p class = "requirement" id="uppercaseRequirement"><span class="icon bad">✗</span> Must include 1 UPPERCASE Letter</p>
                    <p class = "requirement" id="lowercaseRequirement"><span class="icon bad">✗</span> Must include at least 1 lowercase letter</p>
                </div>

                <div class = "terms">
                    <label>I agree to the Terms and Conditions</label>
                    <input type = "checkbox" name="agreedToTerms">
                </div>
                <button id="submitButton">Submit</button>
            </form>
        </div>

        <script>
            //Check password requirements in real-time
            const pwd = document.getElementById("password");
            const confirmPwd = document.getElementById("confirm");

            function updateReq(id, condition) {
                const item = document.getElementById(id).querySelector(".icon");
                if (condition) {
                    item.textContent = "✓";
                    item.classList.remove("bad");
                    item.classList.add("good");
                } else {
                    item.textContent = "✗";
                    item.classList.remove("good");
                    item.classList.add("bad");
                }
            }

            function validate() {
                const value = pwd.value;

                updateReq("lengthRequirement", value.length >= 8);
                updateReq("uppercaseRequirement", /[A-Z]/.test(value));
                updateReq("lowercaseRequirement", /[a-z]/.test(value));
                updateReq("numberRequirement", /[0-9]/.test(value));
                updateReq("match", value === confirmPwd.value);
            }

            pwd.addEventListener("input", validate);
            confirmPwd.addEventListener("input", validate);
        </script>
        

    </div>
{% endblock %}